@media (max-width:910px) {

    .header .header-container {
        position: relative;
    }

    .header .header-container .nav {
        position: absolute;
        flex-direction: row;
        justify-content: space-evenly;
        top: 58px;
        left: 0;
        right: 0;
        height: 0.001px;
        opacity: 0.001;
        margin: 0;
        padding: 0 !important;
        overflow: hidden;
        transition: var(--main-transition);
        background-color: #8cb08b;
        max-width: fit-content;
        border-radius: 21px;
        margin-left: auto;
        margin-right: 11px;
    }

    .header .header-container .nav.active {
        height: fit-content;
        color: #fff;
        opacity: 1;
    }

    .header .header-container .nav.active .title {
        color: #fff;
    }
    .header .header-container .nav.active .title:hover {
        color: var(--nav-hover-color);
    }

    .header .header-container .nav.active .media-icon {
        color: #fff;
    }

    .header .header-container .nav .list {
        position: relative;
        margin: 0;
    }

    .header .header-container .nav .list .submenu {
        margin-bottom: 11px;
        background-color: #8cb08b;
        color: #fff;
    }

    .header .header-container #burger {
        display: block;
    }

    .header .header-container .brand .icon {
        height: 0px;
    }
}