@media (min-width:300px) and (max-width:500px) {

    .header .header-container .nav {
        height: 0.001px;
        opacity: 0.001;
        transition: var(--main-transition);
    }


    .header .header-container .nav {
        flex-direction: column;
        justify-content: space-evenly;
        height: 0.001px;
        opacity: 0.001;
    }

    .header .header-container {
        opacity: 1;
    }

    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
         background: linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ), url(/src/images/background-photo-mobile-devices.jpg);

          /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
    }
}